<apex:component controller="Bill62.C62HighlightController">
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    
    <!-- Stylings --> 
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"></link> 
    
    <!-- CSS -->    
    <style>
        .panel-content { 
            padding:15px; 
        }
    </style>
    
    <!-- Attributes -->
    <apex:attribute required="true" name="ObjectName" description="Can be any object name" type="String" assignTo="{!sObjectName}"/>
    
    <!-- Highlighted fields section -->
    <div data-role="page" id="pageone">
        <div data-role="header">
            <h1>Highlights</h1>
            <div data-role="navbar">
                <ul>
                    <apex:repeat value="{!fldsLabelNameMap}" var="key">
                        <apex:repeat value="{!fldsLabelNameMap[key]}" var="f">
                            <li>
                                <a href="#">
                                    <div style="height:1px;">
                                        <p class="changeFont">
                                            <apex:outputText value="{!$ObjectType[sObjectName].fields[key].label}" rendered="{!IF(AND($ObjectType[sObjectName].fields[key].label!='Record Type ID',$ObjectType[sObjectName].fields[key].label!='Owner ID'),true,false)}"/>
                                            <apex:outputText value="Record Type" rendered="{!IF($ObjectType[sObjectName].fields[key].label=='Record Type ID',true,false)}"/>
                                            <apex:outputText value="Owner" rendered="{!IF($ObjectType[sObjectName].fields[key].label=='Owner ID',true,false)}"/>
                                        </p>
                                    </div>
                                    <br/>
                                    <apex:outputField value="{!sObj[f]}" rendered="{!IF(AND($ObjectType[sObjectName].fields[key].Type!='email',sObj[f]!=null),true,false)}"/>
                                    <apex:outputText value="{!sObj[f]}" rendered="{!IF(AND($ObjectType[sObjectName].fields[key].Type=='email',sObj[f]!=null),true,false)}"/>
                                    <apex:outputPanel rendered="{!IF(sObj[f]==null,true,false)}">
                                        &nbsp;
                                    </apex:outputPanel>
                                </a>
                            </li>
                        </apex:repeat>              
                    </apex:repeat>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- CSS -->
    <style>
        .changeFont {
            font-size:9px;
        }
    </style>
    
</apex:component>