<apex:component controller="Bill62.C62InvoiceComponentController" access="global">
    <apex:attribute name="InvId" type="Id" description="Id of the Invoice" assignTo="{!invoiceId}"/>

<style>
i,span#tel{
    font-family: "Courier New",Courier,monospace;
    font-size: 13px;
    word-spacing: -8px;
}
span#tel{
    font-size:13px;
}
#heading{
    font-size:20px;
    letter-spacing:5px;
}
div,p,span,th,td{
    font-family: "Courier New",Courier,monospace;
}
th{
font-size:12px
}
table#invoiceline{
border-collapse:collapse;
}
table#invoiceline td{
text-align:center;
border:1px solid black;
}
table#invoiceline th{
border:1px solid black;

}
table#invoiceline tr td:nth-child(n) {
    border-top:0;
    border-bottom:0;
}
table#invoiceline tr:last-child td {
    border-bottom: 1px solid black;
}
</style>
<div style="width:8.5in;height:11in;">
<table>

<tr>
<td width="50%">
<center>
<apex:image id="theImage" height="70px" value="{!externalURL}/servlet/servlet.ImageServer?id={!clubLogo}&oid={!$Organization.Id}" rendered="{!IF(clubLogo!=null,true,False)}"/><br />
<span id="heading">{!$Organization.Name}</span><br/>
                    <i style="word-spacing:1px;">{!$Organization.City}</i><br/>
                    <b>{!$Organization.Street} &bull; {!$Organization.City}, {!$Organization.State} {!$Organization.PostalCode}</b><br />
        <span id="tel">MAIN TEL: {!$Organization.Phone} &bull; MAIN FAX: {!$Organization.Fax}<br />
                    </span><br/>
 <div id="check" style=" line-height:12px;width:67%;"><div style="margin-top:2px;float:left;width:17px;height:17px;border:1px solid #000;"></div><font style="font-size:11px" ><span >Please check for a change of information &amp; enter on reverse side</span></font></div><br />
</center>

</td>
<td width="50%" style="vertical-align:top;">
<div style="float:right;padding-right:-10px"><b style="font-size:20px">INVOICE</b></div>
</td>
</tr>
<tr>
<td width="50%">
<div id="address" style="float:left;position:relative;left:18%;">
<apex:outputText value="{!invoiceRec.Bill62__Customer__r.Bill62__Title__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__Title__c!=null,true,false)}"/>
                    <apex:outputText value=" {!invoiceRec.Bill62__Customer__r.Bill62__First_Name__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__First_Name__c!=null,true,false)}"/>
                    <apex:outputText value=" {!invoiceRec.Bill62__Customer__r.Bill62__Last_Name__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__Last_Name__c!=null,true,false)}"/>
                    <apex:outputText value=" {!invoiceRec.Bill62__Customer__r.Bill62__Suffix__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__Suffix__c!=null,true,false)}"/><br/>

                    <apex:outputpanel rendered="{!IF(street1!='',true,false)}">{!street1}<br/></apex:outputpanel>
                    <apex:outputpanel rendered="{!IF(street2!='',true,false)}">{!street2}<br/></apex:outputpanel>
                    <apex:outputpanel rendered="{!IF(street3!='',true,false)}">{!street3}<br/></apex:outputpanel>
                    {!city} {!state} {!zip}<br/>
</div>
</td>
<td width="50%">
<div style="float:right;">
INVOICE DATE<br />
<div style="padding-left:2em"><apex:outputText value="{0,date,MMM dd'/'yy}">
<apex:param value="{!invoiceRec.createddate}"/>
</apex:outputText></div>
</div>
</td>
</tr>

</table>
<br /><br />
<center><div style="font-size:10px">TO INSURE PROPER CREDIT - PLEASE DETACH ALONG PERFORATION AND RETURN THIS PORTION WITH YOUR REMITTANCE</div></center>
<hr />
<br />
<table id="invoiceline" width="100%">
<tr >
<th >
DATE
</th>
<th>
DESCRIPTION
</th>
<th>
CHARGES
</th>
</tr>
<apex:repeat value="{!invoiceLineList}" var="i">
<tr>
<td>
<apex:outputText value="{0,date,MMM dd'/'yy}">
<apex:param value="{!i.Bill62__Date__c}"/>
</apex:outputText>
</td>
<td>
{!i.Bill62__Description__c}
</td>
<td>
<apex:outputText value="{0,number,0.00}">
<apex:param value="{!i.Bill62__Amount__c}"/>
</apex:outputText>
</td>
</tr>
</apex:repeat>
</table>
<br />
<div style="padding-left:5em;">
<apex:outputText value="{!invoiceRec.Bill62__Customer__r.Bill62__Title__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__Title__c!=null,true,false)}"/>
                    <apex:outputText value=" {!invoiceRec.Bill62__Customer__r.Bill62__First_Name__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__First_Name__c!=null,true,false)}"/>
                    <apex:outputText value=" {!invoiceRec.Bill62__Customer__r.Bill62__Last_Name__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__Last_Name__c!=null,true,false)}"/>
                    <apex:outputText value=" {!invoiceRec.Bill62__Customer__r.Bill62__Suffix__c}" rendered="{!IF(invoiceRec.Bill62__Customer__r.Bill62__Suffix__c!=null,true,false)}"/><br/>
</div>
<div style="padding-right:5em;float:right;">
Total Bill : <apex:outputText value="{0,number,0.00}">
<apex:param value="{!houseAndDuesTotal}"/>
</apex:outputText><br />
<apex:outputText value="{0,date,MMM dd'/'yy}">
<apex:param value="{!invoiceRec.createddate}"/>
</apex:outputText>
</div>
<br />
<p style="width:50%">
Dues, assessments and similar payments are not deductible as charitable contributions for Federal Income Tax purposes.
</p>

<table style="border-radius:8px;border:1px solid black;width:100%;height:20%;">
<tr>
<td style="vertical-align:top;">
<p style="padding-left:10%">

</p>

</td>
</tr>
</table>
<br />
<center><span style="font-family: Papyrus, fantasy;">{!$Organization.Name} &bull; {!$Organization.Street} &bull; {!$Organization.City}, {!$Organization.State} {!$Organization.PostalCode}</span></center>
</div>
</apex:component>