<apex:page standardController="Bill62__Dues__c" showChat="false" showHeader="false" sidebar="false" extensions="Bill62.C62VoluntaryChargeRefundsController" action="{!removeVoluntaryCharge}">
 <script type="text/javascript">
     opener.location='/{!memDueId}';
     window.close();
    </script>
</apex:page>