<apex:page standardController="Account" extensions="ChangeEnrollerSponsorController">
	<apex:form >
        <apex:sectionHeader title="Rep" subtitle="Change Enroller/Sponsor"/>
        <apex:pageBlock >
            <apex:pageBlockButtons >
               <apex:commandButton value="Change Enroller" action="{!ChangeEnroller}"/>
               <apex:commandButton value="Change Sponsor" action="{!ChangeSponsor}"/>
               <apex:commandButton value="Change Enroller/Sponsor" action="{!ChangeEnrollerAndSponsor}"/>
               <apex:commandButton value="Back to Rep" action="{!BackToRep}"/>            
            </apex:pageBlockButtons>
               <apex:pageMessage summary="{!errorMsg}" severity="warning" strength="3" rendered="{!showError}" />
               <apex:pageMessage summary="{!winMsg}" severity="confirm" strength="3" rendered="{!showWin}" />
            <apex:pageBlockSection >
               <apex:outputfield value="{!thisRep.Name}" label="Rep"/>
               <apex:pageblocksectionitem />
               <apex:outputtext value="{!oldEnroller}" label="Current Enroller"/>
               <apex:outputtext value="{!oldSponsor}" label="Current Sponsor"/>
               <apex:inputfield value="{!thisRep.Enroller__c}" label="New Enroller"/>
               <apex:inputfield value="{!thisRep.ParentId}" label="New Sponsor"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
	</apex:form>
</apex:page>